.venv/
.idea/
__pycache__
/src/terror_and_fdi.egg-info/
/data/raw/
/data_temp/
/data/interim/stata/
/data/interim/geonames/
/data/processed/countries_continuous_fdi_by_start_to_2020-Q4.csv
/data/processed/quarterly_fdi_availability/summary_continuous_fdi_by_start_to_2020-Q4.csv
/data/interim/wup_city_classification/validation_controls/
/data/interim/wup_city_classification/
/data/interim/ghs_ucdb_classification/
/data/interim/cshapes_capital_classification/
/scripts/old/
