.venv/
.idea/
__pycache__
/src/terror_and_fdi.egg-info/
/data/raw/
/data_temp/
/data/interim/stata/
/data/interim/geonames/
/data/processed/countries_continuous_fdi_by_start_to_2020-Q4.csv
/data/processed/summary_continuous_fdi_by_start_to_2020-Q4.csv
